.content {

  &__heading {

    font-family: $font-secondary;
    text-align: center;
    color: #32425c;
    background-color: #f2f6f8;
    padding: 10px;
    font-size: 18px;
    margin: 0 0 15px 0;
    font-weight: bold;

    @media screen and (min-width: $screen-med){

      font-size: 22px;
      text-align: left;
      padding: 15px;

    }

  }

}
