.footer-menu {

  list-style: none;
  padding: 0;
  margin: 0;

  &__item {

  }

  &__link {

    font-size: 16px;
    color: #32425c;
    font-weight: bold;

    &:hover {

      text-decoration: none;

    }

  }

}
