.promo {

  height: 100vh;
  min-height: 500px;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
  padding-top: 100px;

  @media screen and (min-width: $screen-med){

    height: 600px;

  }

  @media screen and (min-width: $screen-lg){

    height: 100vh;

  }

  &__container {

    width: 300%;
    height: 100%;
    transition: margin 1s;

  }

  &__control-left,
  &__control-right {

    position: absolute;
    top: 50%;
    cursor: pointer;
    opacity: 0.5;
    z-index: 2;

    &:hover {

      opacity: 1;

    }

    & > .fa {

      font-size: 25px;
      color: #b94a48;

    }

  }

  &__control-left {

    left: 10px;

  }

  &__control-right {

    right: 10px;

  }

  &__item {

    float: left;
    width: 33.333333%;
    height: 100%;

  }

  &__img-wrap {

    height: 70%;
    text-align: center;

    @media screen and (min-width: $screen-med){

      height: auto;
      text-align: left;

    }

  }

  &__img {

    max-width: 100%;
    max-height: 100%;

  }

  &__product-info {

    height: 30%;
    max-width: 300px;
    margin: 0 auto;

    @media screen and (min-width: $screen-med){

      height: auto;
      position: absolute;
      right: 0;
      top: 50%

    }

  }

  &__product-name {

    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;

    @media screen and (min-width: $screen-med){

      font-size: 30px;

    }

  }

  &__buy-btn {

    display: block;
    text-decoration: none;
    padding: 10px 15px;
    text-align: center;
    border: 1px solid #b94a48;
    font-family: $font-secondary;
    text-transform: uppercase;
    color: #b94a48;
    font-weight: bold;
    transition: 0.3s;

    &:hover {

      background-color: #b94a48;
      color: #fff;

    }

  }

}
